.transaction-list {
  margin: 0 auto;
  max-width: 600px;
}

.transaction-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.transaction-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.transaction-list li span {
  display: inline-block;
  margin-right: 10px;
}

.transaction-list li span:last-child {
  margin-right: 0;
  flex-grow: 1;
  text-align: right;
}

.transaction-list li button {
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  width: 25%;
}

th {
  background-color: #ddd;
  font-weight: bold;
}
